.header {
  max-width: 880px;
  width: 100%;
  margin: 0px auto;
  padding-top: 45px;
  min-height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 425px) {
  .header {
    min-height: 56px;
    margin-top: 28px;
  }
}