.popup__input {
  border: 0;
  width: 358px;
  height: 27px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  align-self: center;
  outline: none;
  font-family: 'Inter','Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 510px) {
  .popup__input {
    width: 238px;
  }
}