.popup__edit {
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 34px 0px 54px 36px;
  padding: 0px;
}

@media screen and (max-width: 510px) {
  .popup__edit {
    font-size: 18px;
    line-height: 22px;
    margin: 25px 0px 75px 22px;
  }
}