.cards__name {
  margin: 0px;
  padding: 0px;
  max-width: 80%;
  font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 910px) {
  .cards__name {
    max-width: 300px;
  }
}

@media screen and (max-width: 768px) {
  .cards__name {
    max-width: 450px;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .cards__name {
    max-width: 370px;
  }
}

@media screen and (max-width: 480px) {
  .cards__name {
    max-width: 200px;
  }
}

