.popup__input-error {
  font-size: 12px;
  color: #ff0000;
  opacity: 0;
  display: block;
  /*
  position: absolute;
  top: calc(100% + 6px);
  left: 0;*/
  transition: 0.3s;
  font-family: 'Inter','Helvetica Neue', Arial, sans-serif;
  line-height: 15px;
  font-weight: 400px;
  width: 358px;
  align-self: center;
  margin: 5px 0px 0px;
  padding: 0px;
  height: 30px;
}

@media screen and (max-width: 510px) {
  .popup__input-error {
    width: 238px;
  }
}